<div id="creations">
  <a href="/visited_restaurants/new" class="button_creation"> New Restaurant for Diary</a>
  <a href="/unvisited_restaurants/new" class="button_creation"> New Restaurant for Wish List</a>
  <a class="button_creation" href="/logout">Logout</a>
</div>

<div id="wrap_box">
  <div id="box_right">
    <h3>Wish List:</h3>
    <%current_user.unvisited_restaurants.all.each do |restaurant|%>
   <div id="restaurant_box">
    Name: <a href="/unvisited_restaurants/<%=restaurant.id%>/edit"><%=restaurant.name%></a><br> Location: <%=restaurant.location%><br>
   </div>
    <%end%>
  </div>
  <div id="box_left">
    <h3>My Diary:</h3><br>
    <%current_user.visited_restaurants.all.each do |restaurant|%>
    <div id=restaurant_box>
    Name:<a href="/visited_restaurants/<%=restaurant.id%>/edit"><%=restaurant.name%></a><br>
     Location: <%=restaurant.location%><br>
     Thoughts:<%=restaurant.thougts%><br>
     Rating: <%=restaurant.rating%>
    </div>
    <%end%>
  </div>
</div>
